*{
    box-sizing: border-box;
}

body{
    font-family: 'Baloo Chettan 2', cursive;
    /* font-family: 'Poppins', sans-serif; */
    /* font-family: 'Roboto', sans-serif; */
}

.container{
    max-width: 1150px;
    margin: auto;
}

/************* BUTTON *****************/

.button{
    text-decoration: none;
    box-shadow: 0px 10px 20px rgba(22, 52, 7, 0.1);
    border-radius: 20px 80px;
    color: #fff;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 160%;
    padding: 13px 44px;
    display: inline-block;
}

.button-primary{
    background: linear-gradient(180deg, #59BE29 0%, #59BE29 100%);
    color: #fff;
}

.button-default{
    background: #fff;
    color: #59BE29;
}


/************ HEADER ***************/

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
    margin-bottom: 100px;
}

.logo-image{
    max-width: 164px;
    max-height: 65px;
}

.menu{
    display: flex;
}

.item{
    list-style: none;
    margin-right: 35px;
}

.item-link{
    text-decoration: none;
    font-weight: 500;
    font-size: 18px;
    line-height: 160%;
    color: #0A1902;
    opacity: 0.5;
    border-bottom: 2px solid transparent;
}

.item-link.active{
    opacity: 1;
    color: #0A1902; 
    border-bottom: 2px solid #59BE29;
   
}

/************ FRESH-FRUIT **********************/


.fresh-box{
    display: flex;
    align-items: center;
    /* justify-content: space-around; */
    margin-bottom: 100px;
}

.fresh-fruit{
    max-width: 530px;
    max-height: 535px;
}


.fresh-fruit-slogan{
    font-weight: 500;
    font-size: 25px;
    line-height: 150%;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #0A1902;
}

.fresh-fruit-title{
    font-weight: 600;
    font-size: 121.108px;
    line-height: 90%;
    color: #59BE29;
    margin-top: 0;
    margin-bottom: 25px;
}

.fresh-fruit-description{
    font-size: 18px;
    line-height: 160%;
    color: #0A1902;
    opacity: 0.7;
    margin-bottom: 25px;
}

.basket img.basket-img{
    max-width: 556px;
    max-height: 535px;
}

.basket{
    position: relative;
}

.mur{
    max-width: 107px;
    max-height: 56px;
}

.mur1-img{
    position: absolute;
    top: 170px;
    left: 100px;
}

.mur2-img{
    position: absolute;
    top: 80px;
    right: 80px;
}


/************** BANANA BOX ********************/

.snack-box{
    display: flex;
    align-items: center;
    width: 100%;
    max-height: 470px;
    margin-bottom: 100px;
}

.snack-img{
    max-width: 580px;
    max-height: 470px;
}

.snack{
    max-height: 524px;
    margin-left: 50px;
    position: relative;
}

.snack-slogan{
    font-weight: 600;
    font-size: 49px;
    line-height: 130%;
    color: #0A1902;
    margin-bottom: 25px;
}

.mint-img{
    max-width: 130px;
    max-height:35px;
    position: absolute;
    top: 85px;
    left: 310px;
}


.snack-title{
    color: #0A1902;
    font-size: 18px;
    line-height: 160%;
    opacity: 0.7;
    margin-right: 20px;
    display: inline-block;

}

.snack-description{
    font-size: 18px;
    line-height: 160%;
    color: #0A1902;
    opacity: 0.7;
}

.snack-static{
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* flex-direction: column; */
    font-weight: bold;
    font-size: 35px;
    line-height: 140%;
    color: #82CD5E;
}

.btn-round{
    background: #FFFFFF;
    display: inline-block;
    width: 73px;
    height: 73px;
    /* background: tomato; */
    box-shadow: 0px 10px 20px rgba(22, 52, 7, 0.05);
    border-radius: 50%;
    padding: 12px;
    font-weight: bold;
    font-size: 35px;
    line-height: 140%;
    color: #82CD5E;
    text-align: center;
    margin-right: 20px;
}

.snack-info-colum{
    display: flex;
    align-items: center;
}

.snack-static-block{
    display: flex;
    align-items: center;
    justify-content: center;
}

/*******   DELIVERY  *********/

.delivery{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 100px;
}

.delivery-fresh-fruit{
    max-width: 558px;
}

.delivery-title{
    font-weight: 600;
    font-size: 49px;
    line-height: 130%;
    color: #0A1902;
    margin-top: 0;
    margin-bottom: 17px;
}

.delivery-description{
    font-size: 18px;
    line-height: 160%;
    color: #0A1902;
    opacity: 0.7;
}

.delivery-service{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    margin-left: 132px;
}

.delivery-service-column{
    display: flex;
    align-items: center;
    /* margin-left: 100px; */
    margin-bottom: 20px;
    
}

.delivery-service-block{
    display: flex;
    flex-direction: column;
}

.delivery-service-title{
    /* display: block; */
    font-weight: 500;
    font-size: 25px;
    line-height: 150%;
    color: #0A1902;
}

.delivery-service-description{
    margin: 0;
    font-size: 18px;
    line-height: 160%;
    color: #0A1902;
    opacity: 0.7;
}

/******* GALLERY ******/

.gallery{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: -16px;
    margin-bottom: 100px;
}

.gallery-img{
    width:362px;
    height: 362px;
    margin: 16px;
    /* border: 1px solid #000; */
}

/********* CARD **************/

.cards{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin: -15px;
    margin-bottom: 100px;
}

.card{
    background: #FFFFFF;
    border: 1px solid rgba(89, 190, 41, 0.05);
    border-radius: 30px;
    width: 362px;
    box-shadow: 0px 10px 20px rgba(22, 52, 7, 0.1);
    overflow: hidden;
    margin: 15px;
}

.card-img{
    max-width: 100%;
}
.card-content{
    padding: 0 45px 50px;
    text-align: center;
}

.card-title{
    font-weight: 600;
    font-size: 25px;
    line-height: 150%;
    color: #0A1902;
    margin-top: 0;
    margin-bottom: 5px;
}

.card-reting{
    text-align: center;
}

.reting-img{

}

.card-price{
    font-weight: 600;
    font-size: 35px;
    line-height: 140%;
    color: #59BE29;
}

.card-description{
    font-size: 16px;
    line-height: 160%;
    color: #0A1902;
    opacity: 0.7;
    margin-bottom: 32px;
}

/********  Subscribe **************/

.subscribe{
    display: flex;
    align-items: center;
    flex: 50%;
    height: 360px;
    /* max-width: 100%; */
    border-radius: 30px;
    box-shadow: 0px 10px 20px rgba(22, 52, 7, 0.1);
    margin-bottom: 100px;
}

.subscribe-img{
    width: 360px;
    height: 360px;
    margin-left: 125px;
    margin-right: 100px;
}

.subscribe-content{
    
}

.subscribe-title{
    font-weight: bold;
    font-size: 49px;
    line-height: 130%;
    color: #0A1902;
    margin-top: 0;
    margin-bottom: 17px;
}

.subscribe-description{
    width: 392px;
    font-size: 18px;
    line-height: 160%;
    color: #0A1902;
    opacity: 0.7;
}

.subscribe-form{
    display: flex;
    align-items: center;
}

.email-input{
    width: 260px;
    height: 60px;
    background: transparent;
    border: 1px solid transparent;
    box-shadow: 0px 10px 20px rgba(22, 52, 7, 0.05);
    border-radius: 10px;
    padding: 15px 0 15px 30px; 
    outline: none;
    color: #0A1902;
    opacity: 0.8;
}

.email-input::placeholder{
    font-weight: 500;
    font-size: 18px;
    line-height: 160%;
    color: #0A1902;
    opacity: 0.3;
}

input:valid{
    background: #fff;
    border: 1px solid #59BE29;
}

.quadro{
    border-radius: 10px;
    width: 100px;
    height: 60px;
    text-align: center;
    padding: 15px 30px;
    margin-left: 30px;
    border: none;
    cursor: pointer;
}


.gor-line{
    width: 90%;
    height: 5px;
    margin: auto;
    border-bottom: 2px solid #59BE29; 
    opacity: 0.2;
    margin-bottom: 70px;
}

/***** FOTTER ******/

.footer{
    display: flex;
    /* align-items: center; */
    margin-bottom: 30px;
}

.footer-logo{
    width: 340px;
    height: 70px;
    margin-right: 30px;
}

.footer-logo-img{
    width: 164px;
    height: 65px;
}

.footer-logo-description{
    font-size: 16px;
    line-height: 160%;
    color: #0A1902;
    opacity: 0.8;
    padding-top: 0;
}

.footer-company,
.footer-news{
    font-family: Poppins;
    font-style: normal;
    width: 115px;
    margin-left: 70px;
}

.footer-company-title,
.footer-news-title,
.footer-social-title{
    font-weight: 500;
    font-size: 22px;
    line-height: 140%;
    color: #0A1902;
    margin-top: 0;
}

.footer-company-nav,
.footer-news-nav{
    list-style-type: none;
    padding-left: 0;
}

.footer-company-item,
.footer-news-item{
    margin-bottom: 10px;
}

.footer-company-link,
.footer-news-link{
    text-decoration: none;
    font-size: 16px;
    line-height: 160%;
    color: #0A1902;
}

.social-links{
    display: flex;
    align-items: center;
}

.footer-social-title{
    margin-left: 28px;
}

.footer-img{
    width: 201px;
    height: 245px;
}





